
* {
    box-sizing: border-box;
}

header {
    flex: 0 56px;
}

body {
    min-width: 375px;
}

main {
    flex: 1 calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form div {
    margin: 0.5em;
}

nav a {
    text-decoration: none;
}

footer {
    flex: 0 30px;
}

footer a {
    float: right;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.game-title-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-weight: bold;
}

.intro-content {
    width: 610px;
}

.button-row {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.button-row button {
    width: 300px;
}

.username-title {
    margin: 0 0 0 10px;
    font-weight: bold;
}

.home-button {
    margin: 0 10px 0 0;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lobby-window {
    width: 610px;
}

.room-description {
    margin: 0 0 5px 0;
}

.room-choices {
    width: 100%;
    justify-content: space-around;
    margin: 0;
}

.room-user {
    font-weight: bold;
}

.room-code-option {
    font-weight: lighter;
}

.room-search-input {
    width: 100%;
    margin: 0;
}

.room-code-title {
    color: rgba(var(--bs-light-rgb), 0.5)!important;
}

.info-section {
    flex: 1;
    padding: 10px;
}

.players-title {
    font-weight: bold;
}

.players-row > * {
    flex: 0 0 auto;
    width: 100%;
}

.players-body {
    border: 1px solid black;
}

.players-body-empty {
    background-color: hsl(0, 0%, 56%);
}

.game-page {
    flex-direction: row;
    padding: 10px;
}

.game-outer-section {
    flex-direction: row;
}

.game-section {
    margin: 5px;
    flex: 1;
}

.game-area {
    width: 100%;
    max-width: 1525px;
    border: 1px solid rgb(var(--bs-dark-rgb));
}

.game-message-player {
    color: rgb(173, 20, 20);
}

.game-message-system {
    color: rgb(0, 73, 12);
}

/* Google icon style */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#title_logo {
    width: 100%;
    margin-bottom: 15px;
}

#input-field {
    width: 100%;
    margin: 0;
}

#input-field .login-field {
    width: 95px;
}

#register-button {
    margin: 0 5px 0 0;
}

#login-button {
    margin: 0 0 0 5px;
}

#welcome-username {
    font-weight: bold;
}

#game-messages {
    flex: 0 25%;
}

#player-messages {
    opacity: 0.7;
}

#username {
    margin: 0.5em;
    padding: 0.25em;
}

#password {
    margin: 0.5em;
    padding: 0.25em;
}

@media (orientation: portrait) {
    .info-section {
        flex: 0 0 144px;
    }

    .players-row > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .game-outer-section {
        flex-direction: column;
    }
}

@media (max-height: 600px) {
    header {
        display: none;
    }

    main {
        flex: 1;
    }

    footer {
        display: none;
    }
}

@media (max-width: 630px) {
    .intro-content {
        width: calc((100vx - 30px) / 2);
    }
    
    .button-row button {
        width: calc((100vw - 30px) / 2);
    }

    .lobby-window {
        width: calc(100vw - 20px);
    }
}
