
* {
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form div {
    margin: 0.5em;
}

footer {
    flex: 0 30px;
}

footer a {
    float: right;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.game-title-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-weight: bold;
}

.button-row {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.button-row button {
    width: 300px;
}

.username-title {
    margin: 0 0 0 10px;
    font-weight: bold;
}

.home-button {
    margin: 0 10px 0 0;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room-description {
    margin: 0 0 5px 0;
}

.room-choice {
    width: 610px;
    justify-content: space-around;
}

.room-search-input {
    width: 610px;
}

/* Google icon style */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#title_logo {
    width: 610px;
}

#input-field {
    width: 610px;
}

#input-field .login-field {
    width: 95px;
}

#register-button {
    margin: 0 5px 0 0;
}

#login-button {
    margin: 0 0 0 5px;
}

#username {
    margin: 0.5em;
    padding: 0.25em;
}

#password {
    margin: 0.5em;
    padding: 0.25em;
}
